<div class="row">
    <div class="space-6"></div>

    <div class="col-sm-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-comments"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">{{ sold | length }}</span>
                <div class="infobox-content">Billets vendus ce mois</div>
            </div>

            <div class="stat stat-success">8%</div>
        </div>

        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-twitter"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">0</span>
                <div class="infobox-content">Billets annulés ce mois</div>
            </div>


        </div>

        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">8</span>
                <div class="infobox-content">Cumul commission</div>
            </div>
        </div>

        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">{{ solde| number_format(0, '.', ' ') }} FCFA</span>
                <div class="infobox-content">Solde</div>
            </div>
        </div>




    </div>

    <div class="vspace-12-sm"></div>


</div><!-- /.row -->

<div class="hr hr32 hr-dotted"></div>
