<div class="page-header">
    <h1>
        Tableau de Bord
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Aperçu &amp; statistique
        </small>
    </h1>
</div>